<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kamakshi Swami</title>
	<link rel="stylesheet" type="text/css" media="screen" href="kamakshiswami/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" media="screen" href="kamakshiswami/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&amp;display=swap" rel="stylesheet">
	<script type="text/javascript" src="kamakshiswami/js/jquery-1.11.3.min.js" language="javascript"></script>
	<script type="text/javascript" src="kamakshiswami/js/boot.min.js" language="javascript"></script>
	<script type="text/javascript" src="kamakshiswami/js/custom.js" language="javascript"></script>
	<script type="text/javascript" src="kamakshiswami/js/owl.carousel.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<div align="center" class="container body" style="background-color:#ff953b;">
	<div class="logo text-center">
		<img src="http://kamakshiswami.org/images/logo-alternate.png" class="img-fluid">
		<h4 class="header-title" style="font-weight: bold; color: White;">Shakthi Valam</h4>
	</div>
	@RenderBody()
</div>
</html>
