.logo.text-center {
	padding: 30px 20px 35px;
	background:#d60007;
	width:100%;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-top=0px;
}

.logo .img-fluid {
	width: 200px;
	height: 200px;
}

.logo.text-center.home {
}

.logo.text-center.home .img-fluid { width: 100%;position:relative;padding-left:50%;}

.login-form-section.sp {
	padding: 20px 30px;
}

.login-form-section h4 {
	text-align: center;
	padding: 10px 0 0px;
	font-family: "Poppins";
	font-size: 50px;
	font-weight: 300;
	color: #fff;
}
.form-in h5 {
	font-family: "Poppins";
	font-size: 20px;
	color: #fff;
}

.form-in .form-control {
	height: 50px;
	border-radius: 7px;
	font-family: "Poppins";
	font-size: 16px !important;
	background: #ff953b;
	color: #fff;
	margin-bottom:15%;
}

.form-in.text .form-control {
	height: 87px;
	border-radius: 5px;
	width: 100%;
	font-family: "Poppins";
	font-size: 13px !important;
	background: #000;
	color: #fff;
}

.form-in span a {
	color: #fff;
	font-size: 14px;
}

.form-in { position:relative; margin:25px 0; }

.form-in span {
	position: absolute;
	bottom: 11px;
	right: 15px;
	color: #fff !important;
}
@media only screen and (max-width: 600px) {
  body{
    width:100%;
  }
.mainContainer{
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	height: max-content;
	background-color:#ff953b;
	padding-left: 50px;
	padding-right: 50px;
	}
.form-in .btn-submit {
	background:#d60007;
	padding:10px 30px;
	color:white;
	font-family:"Poppins";
	font-size:15px}

.form-in p {
	margin: 0;
	border: 1px solid #fff;
	padding: 12px;
	border-radius: 5px;
	color: #fff;
}

.login-form-section h5 {
	color: #fff;
	font-size: 20px;
	padding: 10px 0 5px;
}

.login-form-section .form-in.sp h5  {
    color: #fff;
    font-size: 20px;
    padding: 0px 0 5px;
}

.form-in h6 {
    color: #f00;
    font-size: 12px;
    font-family: Poppins;
    position:absolute;
    left:5px;
}
.body{
	background-color: #ff953b;
}
hr.new1 {
    border-top: 1px solid red;
    padding-top: 0px;
    padding-bottom: 0px;
    /*width:50%;
    text-align:left !important;*/
}

