@page
@{
    ViewData["Title"] = "Home";
}
<body>
	<div align="left" class="container mainContainer body">
	<div class="login-form-section sp">
		<h4>Devotees Details</h4>
		<div class="form-in">
			<h5>First Name</h5>
			<input type="text" class="form-control" id="txtfName" maxlength="10">
			<h6><label id="lblfNAme"></label> </h6>
		</div>
		<div class="form-in">
			<h5>Last Name</h5>
			<input type="text" class="form-control" id="txtlName" maxlength="10">
			<h6><label id="lbllName"></label> </h6>
		</div>
		<div class="form-in">
			<h5>Mobile Number</h5>
			<input type="text" class="form-control" id="txtMobileNo" maxlength="10">
			<h6><label id="lblMobileNo"></label> </h6>
		</div>
		<div class="form-in">
			<h5>City</h5>
			<input type="text" class="form-control" id="txtCity" maxlength="10">
			<h6><label id="lblCity"></label> </h6>
		</div>
		<div class="form-in">
			<a onclick="submit()" class="btn btn-submit">Submit</a>
		</div>
	</div>
</div>
</body>